# docker-compose.yml
version: '3'

services:
  bitwarden:
    image: vaultwarden/server:latest
    networks:
      - web  
    ports:
      - "8082:80"   # Access Vaultwarden at http://localhost:8080
    volumes:
      - vaultwarden_data:/data
    environment:
      # DOMAIN: "http://localhost:8080"
      ADMIN_TOKEN: "AKIRAakira@1"
      WEBSOCKET_ENABLED: "true"
    deploy: 
      replicas: 1
      placement:
        constraints:
          - node.role==manager
      labels:
        - 'traefik.enable=true'
        - 'traefik.swarm.network=web'
        - "traefik.http.routers.vault.rule=PathPrefix(`/vault`)"  
        - "traefik.http.routers.vault.middlewares=vault-mw"
        - "traefik.http.middlewares.vault-mw.stripprefix.prefixes=/vault"
        - "traefik.http.routers.vault.service=vault" 
        - "traefik.http.routers.vault.entrypoints=https"
        - "traefik.http.routers.vault.tls.certresolver=myresolver"
        - "traefik.http.services.vault.loadbalancer.server.port=80" 
          
networks:
  web: 
    external: true 

volumes:
  vaultwarden_data: