version: "3.3"

services:
  traefik:
    image: traefik:v3.6.5 
    ports:
      - "80:80" 
      - "8083:8080" 
      - "443:443" 
    command:
      - --api.insecure=true 
      - --api.dashboard=true   
      - --providers.swarm=true
      - --providers.swarm.exposedbydefault=false  
      - --providers.swarm.network=web
      - --providers.swarm.refreshSeconds=30
      - --providers.file.filename=/dynamic.yaml 
      - --entrypoints.http.address=:80
      - --entrypoints.https.address=:443
      - --certificatesresolvers.myresolver.acme.tlschallenge=true
      - --certificatesresolvers.myresolver.acme.email=christopher.maekawa@gmail.com
      - --certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json
    
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock 
      - ./dynamic.yaml:/dynamic.yaml  
      - ./letsencrypt:/letsencrypt
    networks:
      - web  
    deploy: 
      replicas: 1
      placement:
        constraints:
          - node.role==manager
networks:
  web:
    external: true