version: '3.7'

services:
  grafana:
    image: grafana/grafana 
    volumes:
      - grafana-storage:/var/lib/grafana 
    networks:
      - web   
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=AKIRAakira@1
      - GF_SECURITY_ADMIN_COOKIE_SECURE=false  
      - GF_DASHBOARDS_MIN_REFRESH_INTERVAL=1ms 
      - GF_SERVER_PROTOCOL=http
      - GF_SERVER_ROOT_URL=https://akira.ngrok.dev/grafana 
      - GF_SERVER_SERVE_FROM_SUB_PATH=true
    deploy:
      labels: 
        - 'traefik.enable=true'
        - 'traefik.docker.network=web'
        - "traefik.http.routers.grafana.rule=PathPrefix(`/grafana`)"
        - "traefik.http.routers.grafana.entryPoints=https"
        # - "traefik.http.routers.grafana.middlewares=grafana-mw"
        # - "traefik.http.middlewares.grafana-mw.stripprefix.prefixes=/"
        - "traefik.http.routers.grafana.tls.certresolver=myresolver"
        - "traefik.http.routers.grafana.service=grafana"
        - "traefik.http.services.grafana.loadbalancer.server.port=3000"
        - "traefik.http.services.grafana.loadBalancer.sticky.cookie=true"
        - "traefik.http.services.grafana.loadBalancer.sticky.cookie.name=grafana"
      mode: replicated 
      replicas: 1
      placement:
        constraints:
          - node.role==manager
  
networks:
  web: 
    external: true 
volumes:
  grafana-storage: