version: '3.8'

services:
  mariadb:
    image: mariadb:latest  
    command: --max_allowed_packet=1073741824
    environment:
      MYSQL_ROOT_PASSWORD: AKIRAakira@1
      MARIADB_DATABASE: db_0
      MARIADB_USER: akira
      MARIADB_PASSWORD: FEFEfefe
    ports:
      - '3307:3306'
    networks:
      - web  
    volumes:
      - mariadb_data:/var/lib/mysql
    deploy: 
      replicas: 1
      placement:
        constraints:
          - node.role==manager

  adminer:
    image: adminer:latest
    container_name: adminer
    restart: unless-stopped
    networks:
      - web  
    ports:
      - "8081:8080"
    depends_on:
      - mariadb
    deploy: 
      labels:
        - "traefik.enable=true"
        - "traefik.swarm.network=web"
        - "traefik.http.routers.adminer.rule=PathPrefix(`/adminer`)"
        - "traefik.http.routers.adminer.entryPoints=https"
        - "traefik.http.routers.adminer.middlewares=adminer-mw"
        - "traefik.http.middlewares.adminer-mw.stripprefix.prefixes=/i>"
        - "traefik.http.routers.adminer.tls.certresolver=myresolver"
        - "traefik.http.routers.adminer.service=adminer"
        - "traefik.http.services.adminer.loadbalancer.server.port=8080"
      replicas: 1
      placement:
        constraints:
          - node.role==manager
          
networks:
  web: 
    external: true 

volumes:
  mariadb_data:
