version: "3.8"

services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:latest
    container_name: open-webui
    ports:
      - "8080:8080"
    environment:
      - OLLAMA_BASE_URL=http://172.17.0.1:11434
      - WEBUI_AUTH=True
      - WEBUI_HOST=0.0.0.0
      - WEBUI_PORT=8080
      - WEBUI_URL=http://192.168.191.120:8080
    volumes:
      - open-webui-data:/app/backend/data
    restart: unless-stopped

volumes:
  open-webui-data:
