version: "3.3"
services:
  influxdb:
    image: influxdb:1.8
    networks:
      - web  
    ports:
      - '8086:8086'
    volumes:
      - influxdb-storage:/var/lib/influxdb
    environment:
      INFLUXDB_ADMIN_USER: akira
      INFLUXDB_ADMIN_PASSWORD: FEFEfefe
      INFLUXDB_DB: db_tcc
    deploy: 
      replicas: 1
      placement:
        constraints:
          - node.role==manager
    
volumes:
  influxdb-storage:  
  
networks:
  web: 
    external: true 